<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Auther:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong>Showing:</strong>
  <%= @book.showing %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
